- breadcrumb_title _("Policies")
- @content_wrapper_class = 'js-security-policies-container-wrapper'

#js-group-security-policies-list{ data: { namespace_path: group.full_path,
  assigned_policy_project: assigned_policy_project(group).to_json,
  disable_security_policy_project: !can_update_security_orchestration_policy_project?(group),
  new_policy_path: new_group_security_policy_path(group),
  empty_filter_svg_path: image_path('illustrations/issues.svg'),
  empty_list_svg_path: image_path('illustrations/security-dashboard_empty.svg'),
  documentation_path: help_page_path('user/application_security/policies/index.md') } }
